body {
  height: calc(100vh - 0px);
    background-color: lightgrey;
    border-radius: 5px;

    
  }
  
  
  .Login {
    
    border-radius: 20px;
    padding-top: 70px;
    padding-bottom: 60px;
    padding-left: 800px;
    padding-right: 800px;
    margin-top: 0px;
    margin-bottom: 70px;
    
  }
  
  .formSignin {
    border-radius: 5px;
    background-color:white;
    padding-bottom: 70px;
    padding-top: 70px;
    padding-right: 10px;
    padding-left: 40px;
    border-style: none;
    margin-top: 40px;
    
  }
  
  .formSignin .input-mail {
    margin-left: 20px;
    margin-bottom: 0px;
  }
  
  .formSignin .input-password {
    margin-left: 20px;
    margin-top: -5px;
  }
  
  .material-icons {
    margin-left: -30px;
    
  }
  
  .example-full-width {
    width: 90%;
  }
  
  .mat-icon {
      font-size: 50px;
      margin-left: 100px;
  }
  
  .button {
    margin-top: 20px;
    width: 290px;
    margin-left: 65px;
    margin-bottom: 0px;
    color: white;
    background: #0062E6;
  }
  
  .img {
    width: 130px;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: -55px;
    padding-top: 20px; 
  }
  
  .mat-headline {
    margin-top: -10px;
    margin-right: 45px;
    padding-top: 18px;
    padding-bottom: 20px;
    font-size: 19px;
    text-align: center; 
  }
  
  .snackbar {
    color: red;
  }
  
  body {
    background: #dfdfdf;
    /* background: linear-gradient(to right, #007bff, rgb(253, 254, 255)); */
   
  }
  
  